@model PagedList<Producto>
@using System.Globalization

@{
    ViewData["Title"] = "Inicio";
}

<div class="container-xl">
    <form method="get" asp-action="Index">
        <div class="row my-4">
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <input type="text" name="busqueda" @ViewData["BusquedaActual"] class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2">
                    <button  class="btn btn-outline-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="row mb-2">
        @if (Model.Count() > 0)
        {
            @foreach (var producto in Model)
            {
                <div class="col-6 col-md-3">
                    <div class="card border-0 shadow-lg bg-white h-100">
                        <div class="badge bg-primary w-25">@producto.Codigo</div>
                        <a asp-action="Detalle" asp-controller="Producto" asp-area="Admin"><img src="@producto.ImagenUrl" class="card-img-top" /></a>
                        <div class="card-body">
                            <h5 class="fw-normal">@producto.Descripcion</h5>
                            <h4 class="text-primary">@producto.Costo.ToString("C", new CultureInfo("en-US"))</h4>
                            <a asp-area="Admin" asp-controller="Producto" asp-action="Detalle" class="btn btn-dark w-100 mt-3">
                                <i class="fa-solid fa-tags"></i>
                                Detalle
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-danger">
                No Hay Registro
            </div>
        }
    </div>

    <a asp-action="Index"
       asp-route-pageNumber="@(1)" class="btn btn-primary @ViewData["Previo"]"
       asp-route-busquedaActual="@ViewData["BusquedaActual"]">
        <i class="fa-solid fa-backward-step"></i>
    </a>

    <a asp-action="Index"
       asp-route-pageNumber="@((int)ViewData["PageNumber"] - 1)" class="btn btn-primary @ViewData["Previo"]"
       asp-route-busquedaActual="@ViewData["BusquedaActual"]">
        Anterior
    </a>
    <span>Pagina @ViewData["PageNumber"] de @ViewData["TotalPaginas"]</span>
    <a asp-action="Index"
       asp-route-pageNumber="@((int)ViewData["PageNumber"] + 1)" class="btn btn-primary @ViewData["Siguiente"]"
       asp-route-busquedaActual="@ViewData["BusquedaActual"]">
        Siguiente
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@ViewData["TotalPaginas"]" class="btn btn-primary @ViewData["Siguiente"]"
       asp-route-busquedaActual="@ViewData["BusquedaActual"]">
        <i class="fa-solid fa-forward-step"></i>
    </a>
</div>



